    .section.header
      .container
        .row.top-mnu
          .logo.col-xs-4.col-md-5
            h3.txt-color-green.Aller_lt fooseshoes
          .search.col-xs-2.col-lg-1
            img(src='../icons/search.png')
          .login.col-xs-4.col-md-3.col-lg-4
            p.txt-color-gray.Aller_Rg  LOGIN or REGISTER
          .clear.col-xs-2
    .section.header-nav
      .container
        .row.top-nav
          .navigation.col-xs-6
            nav#ddmenu
              ul
                li.active
                  a(href='#') Home
                li
                  a(href='#') Products
                li
                  a(href='#') Services
                li
                  a(href='#') About
                li
                  a(href='#') Contact
                li
            .hd-btn
              a(href='javascript:void(0);', id='toggle', class='toggle-mnu hidden-lg')
                span
          .star.col-xs-2
            img(src="icons/star.png")
            a(href='javascript:void(0);', class="count-st Aller_Bd") 30
          .basket.col-xs-4.col-md-3.col-lg-2
            img(src="icons/basket.png")
            a(href='javascript:void(0);', class="count-bs Aller_Bd") 0
          .clear.col-xs-2
    section.main-head(style='background-image: url(../build/img/main.jpg);')
      .top-line
        .container
          .row
            .col-sm-offset-6.col-xs-12.img
              .pink
                .main-price
                  .block-price.bgc-color-gren
                    span.Aller_Bd $149.5
                span.text-price.Aller_Rg
                  | Pink Shoes 
                  br
                  | 2013 Collection
                p.Aller_Lt
                  | Nunc non fermentum nunc. Sed ut ante  eget leo tempor consequat sit amet eu orci. Donec dignissim dolor eget..
    .section.collection
      .container
        .row.collection
          .border-color.height-border
            .col-xs-2.col-sm-offset-1
            .col-xs-2
            .col-xs-2
            .col-xs-2
            .col-xs-2
        .row.collection-shoes
          .col-sm-offset-1.col-sm-2
            .shoes
              a(href='javascript:void(0);', class='Aller_Lt hv') Pink Shoes
              p.Aller_lt Now af $145,99
          .col-sm-2
            .shoes
              a(href='javascript:void(0);', class='Aller_Lt hv') Anna Field
              p.Aller_lt Limited Edition
          .col-sm-2
            .shoes
              a(href='javascript:void(0);', class='Aller_Lt hv') Prada
              p.Aller_lt Summer is coming
          .col-sm-2
            .shoes
              a(href='javascript:void(0);', class='Aller_Lt hv') Casadei
              p.Aller_lt All Colors avaiable
          .col-sm-2
            .shoes
              a(href='javascript:void(0);', class='Aller_Lt hv') Mellow Yellow
              p.Aller_lt Free delivery
        .row.sale
          .col-xs-4
            img(src='../build/img/product-1.gif')
          .col-xs-4
            img(src='../build/img/product-1.gif')
          .col-xs-4
            img(src='../build/img/product.gif')
    .section
      .container
        .row.carousel-coll
          .new.col-xs-10
            p New arrivals on FooseShoes
          .show.col-xs-2
            .btn
              span Show All
        .row.arrivals
          .col-sm-4
            img(src='../build/img/product-1.gif')
          .col-sm-4
            img(src='../build/img/product-2.gif')
          .col-sm-4
            img(src='../build/img/product-3.gif')
        .row.sellers
          .col-xs-10
            p New arrivals on FooseShoes
          .btn.col-xs-2
              span Show All
        .row.best
          .col-sm-4
            img(src='../build/img/product-1.gif')
          .col-sm-4
            img(src='../build/img/product-2.gif')
          .col-sm-4
            img(src='../build/img/product-3.gif')
        .row.description
          .free.col-sm-3
            h5 Free Shipping
            p Vivamus metus turpis, bibendum vitae euismod vel, vulputate vel, vulputate vel nibh. Class aptent tacti sociosqu ad litora torquent per conuba nostra, per inceptos himenaeous
          .test.col-sm-3
            h5 Free Shipping
            p Vivamus metus turpis, bibendum vitae euismod vel, vulputate vel, vulputate vel nibh. Class aptent tacti sociosqu ad litora torquent per conuba nostra, per inceptos himenaeous
          .blog.col-sm-6
            h4 Blog news
    section.coll-widget
      .container
        .row.widget
          .text-widget.col-sm-4
          .twitter-widget.col-sm-4
          .flickr-widget.col-sm-4
            ul
              li
                a
                  img(src='../build/img-s/product-3.gif')
              li
                a
                  img(src='../build/img-s/product-3.gif')
              li
                a
                  img(src='../build/img-s/product-3.gif')
              li
                a
                  img(src='../build/img-s/product-3.gif')
        .row.news
          .news-input.col-sm-6
            input(type='text', name='name', id='name', placeholder='Name*', spellcheck='false', size='20')
          .social.col-sm-6
            ul
              li
                a(href='javascript:void();')
                  img(src='icons/fb.png')
              li
                a(href='javascript:void();')
                  img(src='icons/twitter.png')
              li
                a(href='javascript:void();')
                  img(src='icons/google+.png')
              li
                a(href='javascript:void();')
                  img(src='icons/leakedin.png')
              li
                a(href='javascript:void();')
                  img(src='icons/fickr.png')