mixin price(name)
	.block-price.bgc-color-gren&attributes(attributes)
		span.Aller_Bd= name
		
mixin sale(name)
	.block-sale.bgc-color-black
		span.Aller_Bd= name

mixin pro(img,text,price)
	.block-pro
		.pro-description
			img(src=img)
			.desc
				+price(price)(class="lefter")
				.block-text
					a(href='javascript: void();').f17px.Aller-Bdlt=text
